/*
*     For font-awesome
*/
//$fa-font-path: "../../node_modules/font-awesome/fonts";





/*---------------*\
      Widths
\*---------------*/
$screen-desktop: 1440px;





/*---------------*\
      Colors
\*---------------*/

/*
*     Base Colors
*/
$primary-background: #f7f7f9;
$secondary-background: #ffffff;

$brand-primary-fontcolor:#292b2c; /* Greenish blue */



$brand-border-color:#eceeef; 



$brand-hover-color:#f0f0f0; 


$brand-anchor-color:#39b79f; 




$primary-font:                           Arial, sans-serif;


/*
* Font-sizes (in pixels). Refer to relevant sections for their implementations.
*/

$h1-size:                                32px; // .alpha
$h2-size:                                24px; // .beta
$h3-size:                                18px; // .gamma
$h4-size:                                14px; // .delta
$h5-size:                                12px; // .epsilon
$h6-size:                                10px; // .zeta

$base-font-size:                         11px;

